<!DOCTYPE html>
<html>
  <head>
    <title>RorMicroBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul>
    <li><%= link_to 'Home', root_path, class: "btn btn-default btn-flat" %></li>
    <% if user_signed_in? %>
        <li>
          <%= link_to 'Account', edit_user_registration_path, class: "btn btn-default btn-flat" %> |
          <%= link_to 'Profile', edit_profile_path(current_user.profile), class: "btn btn-default btn-flat" %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat"  %>
          <%= current_user.email %>
        </li>
    <% else %>
        <li>
          <%= link_to "Login", new_user_session_path %> or
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
    <% end %>

    </ul>

    <%= render "layouts/flash" %>

    <%= yield %>
  </body>
</html>
